
<form class="form-inline my-2 my-lg-0" action="<%=trainer_create_exercise_complete_path(:id => params[:id], :day => params[:day])%>" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="RZrA6+pCXbUPZ5EQ09xhlsrialQSEo1pCc1+BG35MHlrnww5QQRZ+idJ7SMVnRM0ZiM9/XEzjJAnOHfIX/T7pA==" />
  <input class="form-control mr-sm-2"  placeholder="Nome do exercício" type="text" name="new_exercise" id="new_exercise" />
  <input class="form-control mr-sm-2"  placeholder="Duração do exercício" type="number" name="new_time" id="new_time" />
  <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="commit" value="Criar" data-disable-with="Search" />
</form>