
<form class="form-inline my-2 my-lg-0" action="/trainers/client_food/create/1/monday/complete" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="6ezxd3qkvhoIUgoENSZrd3MSrVrYweE8k8lDRdDTB4FGpES0SFgre36MDrUw4idG8FHZGlmW6+EIIkXwniJlAA==" />
  <input class="form-control mr-sm-2"  placeholder="Refeição" type="text" name="new_meal" id="new_meal" />
  <input class="form-control mr-sm-2"  placeholder="Comida" type="text" name="new_food" id="new_food" />
  <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="commit" value="Search" data-disable-with="Search" />
</form>
