<h1>Editar o exercício: <%= @routine.first.exercise.desc_exercise %> <%= @dia %></h1>

<form class="form-inline my-2 my-lg-0">
  <input id="editName" class="form-control mr-sm-2" type="text" placeholder="Nome do exercício" aria-label="Search">
  <input id="editTime" class="form-control mr-sm-2" type="number" placeholder="Duração do exercício" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Editar</button>
</form>
