<h1>Seu cardápio para essa semana</h1>

<div id="lineBreak">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Refeição</th>
      <th scope="col">Domingo</th>
      <th scope="col">Segunda</th>
      <th scope="col">Terça</th>
      <th scope="col">Quarta</th>
      <th scope="col">Quinta</th>
      <th scope="col">Sexta</th>
      <th scope="col">Sábado</th>
    </tr>
  </thead>
  <tbody>
   <!-- Foreach Database - Food -->
   <% @client_menu.each do |m| %>
   <tr>
   <th scope="row"><%= m.meal.desc_meal %></th>
   <% m.meal.foods.each do |f| %>
   <th scope="row"><%= f.desc_food.nil? ? "–" : f.desc_food %> </th>
   <%end%>
 </tr>
   <% end %>
  </tbody>
</table>
</div>
