<h1>Seu cardápio para essa semana</h1>

<div id="lineBreak">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Refeição</th>
      <th scope="col">Domingo</th>
      <th scope="col">Segunda</th>
      <th scope="col">Terça</th>
      <th scope="col">Quarta</th>
      <th scope="col">Quinta</th>
      <th scope="col">Sexta</th>
      <th scope="col">Sábado</th>
    </tr>
  </thead>
  <tbody>
   <!-- Foreach Database - Food -->
   <% count = 0 %>
   <% @client_menu.each do |m| %>
   <tr>

   <% count = count + 1 %>
   <th scope="row"><%= m.meal.desc_meal %></th>
   <% m.meal.foods.each do |f| %>
   <th scope="row"><%= f.desc_food if !f.desc_food.nil?%> </th>
   <%end%>
 </tr>
   <% end %>
  </tbody>
</table>
</div>












<div>
  <nav class="navbar navbar-expand-md fixed-bottom navbar-dark bg-dark">
    <div class="navbar-collapse collapse justify-content-between">
      <ul class="navbar-nav mr-auto">
          <%= link_to "Sign out", destroy_client_session_path, :method => :delete, :style=>'color:#FFFFFF;' %>
      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" href="/contact/index" style="color:#FFFFFF">Contato</a>
      </ul>
    </div>
  </nav>
</div>
