<h1>Client#food</h1>
<p>Find me in app/views/client/food.html.erb</p>


<div>
  <nav class="navbar navbar-expand-md fixed-bottom navbar-dark bg-dark">
    <div class="navbar-collapse collapse justify-content-between">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <a class="nav-link" href="/contact/index">Contato</a>
      </ul>
    </div>
  </nav>
</div>
