<h1>Bem-Vindo</h1>



<div class="container" id = "lineBreak" >
	<div class="row">
    <div class="col-md-12">
      <h4>Treinos do Dia</h4>
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">

             <thead>
             <th><input type="checkbox" id="checked" ></th>
             <th>Dia da Semana</th>
             <th>Treino</th>
             <th>Duração</th>

             </thead>
             <tbody>
							 <% @client_routine.each do |e| %>
	                <tr>
	                 <!-- Foreach database - Exercises -->
	                <td><input type="checkbox" class="checkthis" ></td>
									<th scope="row"><%= e.day %></th>
									<th scope="row"><%= e.exercise.desc_exercise %></th>
									<th scope="row"><%= e.duration %></th>
	                </tr>
									<% end %>
              </tbody>
           </table>
        </div>
	</div>
</div>
</div>

<div>
  <nav class="navbar navbar-expand-md fixed-bottom navbar-dark bg-dark">
    <div class="navbar-collapse collapse justify-content-between">
      <ul class="navbar-nav mr-auto">
          <%= link_to "Sign out", destroy_client_session_path, :method => :delete, :style=>'color:#FFFFFF;' %>
      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" href="/contact/index" style="color:#FFFFFF">Contato</a>
      </ul>
    </div>
  </nav>
</div>
