<h1>Lista de Treinadores</h1>

<div id="lineBreak">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Formação</th>
      <th scope="col">Contato</th>
    </tr>
  </thead>
  <tbody>
   <!-- Foreach Database - Trainers -->
   <% @trainers.each do |t| %>
   <th scope="row"><%= t.name %></th>
   <th scope="row"><%= t.institution %></th>
   <th scope="row"><%= t.email %></th>
   <% end %>
  </tbody>

</table>
</div>

<div>
  <nav class="navbar navbar-expand-md fixed-bottom navbar-dark bg-dark">
    <div class="navbar-collapse collapse justify-content-between">
      <ul class="navbar-nav mr-auto">
          <%= link_to "Sign out", destroy_client_session_path, :method => :delete, :style=>'color:#FFFFFF;' %>
      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" href="/contact/index" style="color:#FFFFFF">Contato</a>
      </ul>
    </div>
  </nav>
</div>
