<h1>Lista de Treinadores</h1>

<div id="lineBreak">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Formação</th>
      <th scope="col">Contato</th>
    </tr>
  </thead>
  <tbody>
   <!-- Foreach Database - Trainers -->
   <% @trainers.each do |t| %>
   <tr>

   <th scope="row"><%= t.name %></th>
   <th scope="row"><%= t.institution %></th>
   <th scope="row"><%= t.email %></th>
 </tr>
   <% end %>
  </tbody>

</table>
</div>
