<h1>Contato</h1>
<<<<<<< Updated upstream

<p>Para maiores informações entre em contato com os desenvolvedores</p>
<p>Gabriel Tiveron gabrielmtiveron@gmail.com</p>
<p>Victor Levi victorlevipeixoto@gmail.com</p>
=======
</br>
</br>
<h4 class="mb-3 font-weight-normal">Para maiores informações entre em contato com os desenvolvedores: </h4>
<h4 class="mb-3 font-weight-normal">Gabriel Tiveron – gabrielmtiveron@gmail.com</h4>
<h4 class="mb-3 font-weight-normal">Victor Levi     – victorlevipeixoto@gmail.com</h4>
>>>>>>> Stashed changes
