
<h1>Agora complete seus dados cadastrais</h1>

<% if client_signed_in? %>
<div>
<form action="<%= update_client_session_path %>" accept-charset="UTF-8" method="get">
    <input class="form-control mr-sm-2" type="number" name="age" id="age" placeholder="Idade"/>
    <input class="form-control mr-sm-2" type="text" name="name" id="name" placeholder="Nome"/>
    <input class="form-control mr-sm-2" type="float" name="height" id="height" placeholder="Altura"/>
    <input class="form-control mr-sm-2" type="float" name="weight" id="weight" placeholder="Peso"/>
    <input class="form-control mr-sm-2" type="number" max="5" min="0" name="condition" id="condition" placeholder="Condição"/>
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="commit" value="Concluir" data-disable-with="Search" />
</form>
</div>

<% elsif trainer_signed_in? %>
<div>
<form action="<%= update_trainer_session_path %>" accept-charset="UTF-8" method="get">
    <input class="form-control mr-sm-2" type="number" name="age" id="age" placeholder="Idade"/>
    <input class="form-control mr-sm-2" type="text" name="name" id="name" placeholder="Nome"/>
    <input class="form-control mr-sm-2" type="text" name="formation" id="formation" placeholder="Formação"/>
    <input class="form-control mr-sm-2" type="text" name="institution" id="institution" placeholder="Instituição"/>
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="commit" value="Concluir" data-disable-with="Search" />
</form>
</div>
<% else %>
<% redirect_to :root %>
<% end %>
